.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.splash-title {
  min-height: 2.5em; /* Empêche le logo de sauter lors de l'apparition du texte */
}

.letter {
  display: inline-block;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.letter-visible {
  opacity: 1;
  transform: translateY(0);
}

.letter-hidden {
  opacity: 0;
  transform: translateY(-10px);
}

.splash-logo {
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.logo-hidden {
  opacity: 0;
  transform: translateY(-50px);
}

.logo-slide-down {
  opacity: 1;
  transform: translateY(20px);
}

.logo-slide-up {
  opacity: 0;
  transform: translateY(-50px);
}